#notification-panel {
	position: sticky;
	top: 0;
	z-index: 1;
}

.wrap-notif {
	overflow: hidden;
	transition: 0.5s !important;
	background-color: var(--smoke-grey);
	max-height: 200px;
}

.wrap-content {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.button-notif-panel {
	background: var(--blue);
	margin-top: 8px;
	border-radius: 4px;

	&:hover {
		background-color: var(--dark-blue);
	}
}