@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:ital,wght@0,400;1,500&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--smoke-grey: #e5e5e5;
	--blue: #007bc1;
	--dark-blue: #004a75;
	--orange: #ff8000;
	--dark-orange: #cc6600;
}

body,p,a,ul,li {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

p {
	font-size: 0.9375em;
}

li {
	list-style-type: none;
}

body {
	background: var(--smoke-grey);
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	position: relative;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

a {
	color: #0d6efd;
}

i {
	color: rgb(165, 164, 164);
}

.button {
	background: none;
	padding: 8px 10px;
	color: #ffffff;
	border: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}

input {
	width: 100%;
	display: block;
}

@import "notification-panel";
@import "hero-shot";
@import "highlight";
@import "footer";
@import "sliding-panel";

@media screen and (min-width: 480px) {
	.grid {
		grid-template-columns: repeat(8, 1fr) !important;
	}

	.tile {
		grid-column: span 4 !important;
	}
}

@media screen and (min-width: 960px) {
	#hero-shot {
		height: 600px;
	}

	.grid {
		grid-template-columns: repeat(9, 1fr) !important;
	}

	.tile {
		grid-column: span 3 !important;
	}

	#sliding-panel {
		width: 640px;
	}

	.wrap-notif {
		flex-direction: row;
		width: 720px;
		justify-content: space-evenly;
	}

	.info {
		width: 75%;
	}

	.wrap-button-got-it {
		align-self: center;
	}

	.button-notif-panel {
		margin-top: 0;
		padding: 12px 20px;
	}

	main {
		margin: 0 auto;
		max-width: 1366px;
	}

	#highlight {
		h4 {
			padding: 0 23em;
		}
	}

	.newsletter {
		flex-direction: row !important;
		justify-content: space-between;

		.input-email {
			width: 75%;
			margin-right: 8px;
		}

		.wrap-button-count {
			flex-grow: 1;
		}

		.button-count {
			width: 100%;
		}
	}
}